.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.step-fields {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto 20px;
}

.step-fields input {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  box-shadow: 0 0 0 2px cadetblue;
  font-size: 16px;
}

button {
  padding: 5px 10px;
  margin: 0 5px;
  border: 2px solid cadetblue;
  background: transparent;
  display: inline-block;
  cursor: pointer;
}

.fields-info {
  padding-top: 50px;
}

.fields-info h2 {
  text-decoration: underline;
}

.thank-you {
  color: cadetblue;
}